.header
{
    background-color: #959796;
    height: 60px;
    border-bottom: solid 1px;
}

.header-name{
    font-size: 45px;
    font-weight: 600;
    margin-left: 20px;
}

.login-user{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    font-weight: 600;
}