.footer
{
    background-color: #959796;
    height: 30px;
    border-top: solid 1px;
    width: 100%;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}